@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

.btn-outline-primary {
    color: white;
    border-color: white;
    font-family: raleway;
    margin: 1em;
}

.btn-outline-primary:hover {
    color: white;
    border-color: white;
    font-family: raleway;
    margin: 1em;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: black;
    background-color: white;
    border-color: white; /*set the color you want here*/
}